<nav [class.absolute]="isHomePage" [class.sticky]="!isHomePage "
     class="top-0 w-full bg-transparent backdrop-blur-sm shadow-sm z-50">

<div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-4">
      <a routerLink="/home" class="text-xl font-semibold">Salon Elite</a>
      <div class="hidden sm:flex space-x-8 items-center">
        <a href="#" class="hover:text-gray-600 transition-colors">Réservations</a>
        <a href="#" class="hover:text-gray-600 transition-colors">Prestations</a>
        <a *ngIf="currentUser" routerLink="account" class="hover:text-gray-600 transition-colors">Compte</a>

        <button class="flex items-center  bg-black text-white px-4 py-2 rounded-md hover:bg-gray-800 transition-colors">
          <i class="bi bi-person"></i>
        @if(!currentUser){
          <a routerLink="/login">Connexion</a>
        } @else {
          <a (click)="logout()">Deconnexion</a>
        }
        </button>
      </div>
    </div>
  </div>
</nav>
