<!--<div class="flex justify-center w-full">-->
<!--  <div class="card p-4 max-w-[95%]">-->
<!--    <div class="grid grid-cols-7 gap-x-4 gap-y-2">-->
<!--      @for (day of days;track $index) {-->

<!--        <div class="text-center w-full">-->
<!--          <div class="card-header font-bold mb-2 w-full text-center"-->
<!--               style="padding: 0 !important;">-->
<!--            {{ day.date | date: 'EEE dd/MM' }}-->
<!--          </div>-->
<!--          @for (hour of day.hours;track $index) {-->
<!--            @if (!hour.isBooked) {-->
<!--              <div class="card-body border-b text-sm w-full"-->
<!--                   (click)="bookSlot(day.date, hour)">-->
<!--                <p-button severity="primary" class="w-full h-8 py-0" label="{{hour.time}}"></p-button>-->
<!--              </div>-->
<!--            }-->
<!--          }-->
<!--        </div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="bg-gray-100 min-h-screen flex justify-center items-center py-8">
  <div class="card p-8 max-w-[90%] bg-white rounded-xl shadow-xl">
    <!-- Affichage des jours dans une grille horizontale avec espacement entre les éléments -->
    <div class="grid grid-cols-7 gap-4 mb-6">
      <!-- Boucle pour afficher les dates -->
      <div *ngFor="let slot of getGroupedSlotsEntries(); let i = index" class="text-center flex flex-col items-center justify-between">
        <div class="font-semibold text-lg text-gray-800 mb-2">
          {{ slot[0] | date: 'EEE dd/MM' : 'fr' }}
        </div>

        <!-- Affichage des horaires avec un espacement entre les boutons horizontalement -->
        <div class="flex flex-wrap justify-around gap-3 w-full">
          <div *ngFor="let start of slot[1]; let j = index" class="w-auto">
            <button
              (click)="bookSlot(slot[0], start.date, start.slot)"
              class="py-3 px-6 bg-blue-600 text-white rounded-lg shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition ease-in-out duration-150"
            >
              {{ start.date | date: 'HH:mm' : 'fr' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


