<app-loader [loading]="loader"></app-loader>
<div class="bg-gray-100 min-h-screen flex justify-center items-center py-8">
  <div class="p-6 max-w-6xl w-full bg-white rounded-xl shadow-xl">
    <h2 class="text-2xl font-bold text-center text-gray-900 mb-6">Réserver un créneau</h2>

    <div class="overflow-x-auto">
      <div class="grid grid-cols-7 gap-2 text-center">
        <div *ngFor="let slotGroup of getGroupedSlotsEntries(); let i = index" class="flex flex-col items-center w-full">
          <!-- Jour de la semaine -->
          <div class="font-bold text-lg text-white bg-gray-800 py-3 w-full rounded-t-lg shadow-md">
            {{ slotGroup[0] | date: 'EEEE' }}
          </div>
          <!-- Date -->
          <div class="text-sm text-gray-900 bg-gray-300 py-2 w-full">
            {{ slotGroup[0] | date: 'dd/MM' }}
          </div>

          <!-- Créneaux horaires -->
          <div class="flex flex-col gap-2 bg-gray-100 py-3 w-full rounded-b-lg shadow-sm">
            <button *ngFor="let slot of slotGroup[1]"
                    (click)="bookSlot(slotGroup[0], slot.start, slot)"
                    class="py-2 px-4 w-5/6 mx-auto bg-gray-200 text-gray-900 rounded-md shadow-md hover:bg-gray-400 transition-all focus:outline-none focus:ring-2 focus:ring-gray-600 text-sm">
              {{ slot.start | date : 'HH:mm' : 'utc' }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="flex justify-between items-center mt-6">
      <button
        class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition-all disabled:opacity-50 disabled:cursor-not-allowed"
        (click)="previousPage()"
        [disabled]="currentPage === 0">
        ⬅️ Précédent
      </button>

      <span class="text-gray-900 font-medium">Page {{ currentPage+1 }}</span>

      <button
        class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition-all disabled:opacity-50 disabled:cursor-not-allowed"
        (click)="nextPage()"
        [disabled]="!hasMorePages">
        Suivant ➡️
      </button>
    </div>
  </div>
</div>
